@use './_variables' as vars;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.6;
  color: vars.$app-text;
  background: vars.$app-background;
}

a {
  color: vars.$app-primary;
}
